/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body {
	background-color: #909090;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 24px;
	line-height: 38px;
	padding-top: 230px;
}

header {
	background-color: #909090;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.9);
	box-shadow: 0 0 40px rgba(0,0,0,0.9);
	height: 180px;
	padding: 40px 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}
header hgroup {
	margin: 0 auto;
	width: 600px;
}
header h1 {
	font-size: 114px;
	font-weight: bold;
	line-height: 120px;
	font-family: helvetica;
	text-align: left;
	letter-spacing: -3px;
	padding-left: 5px;
	text-shadow: 	-1px -1px 0 black,
					-2px -2px 0 black,
					-3px -3px 0 black,
					-4px -4px 0 black,
					-5px -5px 0 black,
					-6px -6px 0 black,
					-7px -7px 0 black,
					-8px -8px 0 black,
					-9px -9px 0 black,
					-10px -10px 0 black,
					-11px -11px 0 black,
					-12px -12px 0 black,
					-13px -13px 0 black,
					-14px -14px 0 black,
					-15px -15px 0 black,
					-16px -16px 0 black,
					-17px -17px 0 black,
					-18px -18px 0 black,
					-19px -19px 0 black,
					-20px -20px 0 black;
					
}
header h2 {
	-webkit-transition: all 0.2s ease-in-out;  
	-moz-transition: all 0.2s ease-in-out;  
	-ms-transition: all 0.2s ease-in-out;  
	-o-transition: all 0.2s ease-in-out;  
	transition: all 0.2s ease-in-out;
	background-color: black;
	cursor: pointer;
	font-size: 26px;
	padding-left: 13px;
	word-spacing: 3px;
	-webkit-box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black, -6px -6px 0 black, -7px -7px 0 black;
	-moz-box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black, -6px -6px 0 black, -7px -7px 0 black;
	box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black, -6px -6px 0 black, -7px -7px 0 black;
}

section {
	background-color: #3D8F4B;
	border-bottom: 1px dotted rgba(255,255,255,0.4);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.8);
	box-shadow: 0 0 40px rgba(0,0,0,0.8);
	position: relative;
	z-index: 2;
}

.block {
	padding-top: 40px;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.2);
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
.block.code, .buttons.block {
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

footer, section h1, section h2, h3, p, code {
	display: block;
	margin: 0 auto 0 auto;
	padding: 0 0 22px 8px;
	width: 578px;
}
footer {
	padding: 40px 0;
}

.buttons {
	position: relative;
	width: 600px;
}
.buttons a {
	-webkit-transition: all .2s ease-in-out;
	background-color: black;
	-webkit-box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black, -6px -6px 0 black, -7px -7px 0 black;
	-moz-box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black, -6px -6px 0 black, -7px -7px 0 black;
	box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black, -6px -6px 0 black, -7px -7px 0 black;
	color: white;
	display: inline-block;
	font-size: 26px;
	margin-right: 10px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 285px;
}
.buttons a:hover, header h2:hover {
	color: #F7E06E;
	-webkit-box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black;
	-moz-box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black;
	box-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black, -4px -4px 0 black, -5px -5px 0 black;
}

.credits {
	font-size: 16px;
	line-height: 32px;
	padding-top: 40px;
	display: block;
	width: 400px;
}

.credits p {
	padding-left: 0;
}

.credits a {
	color: #F7E06E;
	text-decoration: none;
}

p {
	padding-bottom: 36px;
	text-shadow: -1px -1px 0 black, -2px -2px 0 rgba(0, 0, 0, 0.5);
}

h3 {
	font-size: 36px;
	word-spacing: 0;
	text-shadow: -1px -1px 0 black, -2px -2px 0 black, -3px -3px 0 black;
	padding-bottom: 15px;
	font-weight: bold;
}

pre {
	padding: 0 0 30px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5), 0 -2px 0 rgba(0,0,0,.25);
	font-family: monaco, monospace;
	font-size: 17px;
	letter-spacing: -1px;
	line-height: 30px;
	word-spacing: 1px;
}
	pre .str {
		color: #F7E06E;
	}
	pre .com {
		color: #93BFEC;
	}

#forkme {
	background-color: #F4D125;
	border: 1px solid white;
	overflow: hidden;
	position: fixed;
	right: -60px;
	top: 55px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.4);
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	z-index: 4;
}
#forkme a {
	border: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	display: block;
	font: bold 16px 'Helvetiva Neue', Helvetica, Arial, sans-serif;
	margin: 0.05em 0 0.075em 0;
	padding: 0.5em 3.5em;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px 0px 0 #404040, 0 0 0.5em #404040;
}